body {
    font-family: 'Reddit Sans', sans-serif;
    margin: 0;
    display: flex; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically and horizontally */
    min-height: 100vh; /* Set body height to viewport height */
    background-color: #fff; /* Set background color */
  }
  
  .loading-text {
    opacity: 0; /* Initially hide the text */
    font-weight: 900;
    font-size: 75px;
    text-transform: uppercase;
    color: #1e1e1e;
    animation: fadeIn 1.5s ease-in-out forwards; /* Animation for fade-in */
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 768px) {
    .loading-text {
      font-size: 50px; /* Adjust font size for smaller screens */
    }
  }
  