.loader {
    width: 100px;
    height: 100px;
    background-image: url("PXS.png"); /* Replace with your image path */
    background-repeat: no-repeat;
    animation: stripes 1.5s linear infinite;
    position: absolute;
    top: calc(50vh - 50px);
    left: calc(50vw - 50px);
  }
  